## Project 4
## Submitted by Roshan Lulu

### Step 1 - Get the Job Posting data from the website

- Identify the Job titles to scrap
- Identify the element/child relationships and get the attributes
- Baby step - Get 1 job posting scraped

### A. Import Libraries

In [1]:
# import libraries
import scrapy
from scrapy.http import Request
from scrapy import Selector
import requests
import pandas as pd

# Define your parse function inside your class
def parse_each_job_result_page(response, meta, page_num):
    all_links = []
    hxs = Selector(response)
    # Get links in that page
    links = Selector(text=response.text).xpath("//a[@data-automation='jobTitle']/@href").extract()
    all_links.append(links)
    # get the link to the next page
    next_page_anchor  =  Selector(text=response.text).xpath("//a[@data-automation='page-next']/@href").extract()
    print(next_page_anchor)
    if len(next_page_anchor) > 0:
        page_num += 1
        get_links_for_job([{'type':meta, 'page':page_num += 1,'url':next_page_anchor}])
    else:
        pass

# Define the start request function
def get_links_for_job(urls = search_urls):
    for url in urls:
        print(url['type'], "***************************************************************************", url['type'])
        print('\n')
        response = requests.get(url['url'])
        parse_each_job_link(response, url['type'], url['page'])
        print('\n')

### B. GET THE PAGE LINKS FOR THE JOBS

In [2]:
# # deinfe the serach urls
# urls = [{'page':1,'type': 'data-analyst', 'url':'https://www.seek.com.au/Data-Analyst-jobs/in-All-Sydney-NSW'},
#                 {'page':1,'type': 'data-science', 'url':'https://www.seek.com.au/Data-Science-jobs/in-All-Sydney-NSW'},
#                  {'page':1, 'type': 'business-intelligence', 'url':'https://www.seek.com.au/Business-Intelligence-jobs/in-All-Sydney-NSW'}]

job_desc_i_want = ['Data-Science', 'Data-Analyst', 'Business-Intelligence']
where_is_the_job = '-jobs/in-All-Sydney-NSW'
search_urls = []

for index in range(0, len(job_desc_i_want)):
    job_dict = {}
    job_dict['type'] = job_desc_i_want[index]
    job_dict['page'] = 1
    job_dict['url'] = 'https://www.seek.com.au/' + job_desc_i_want[index] + where_is_the_job
    search_urls.append(job_dict)

search_urls

[{'page': 1,
  'type': 'Data-Science',
  'url': 'https://www.seek.com.au/Data-Science-jobs/in-All-Sydney-NSW'},
 {'page': 1,
  'type': 'Data-Analyst',
  'url': 'https://www.seek.com.au/Data-Analyst-jobs/in-All-Sydney-NSW'},
 {'page': 1,
  'type': 'Business-Intelligence',
  'url': 'https://www.seek.com.au/Business-Intelligence-jobs/in-All-Sydney-NSW'}]

In [3]:
pagelinks_df = pd.DataFrame(columns = ('Job_Desc', 'Page_Num', 'url_link'))

In [4]:
# Define the start request function
def get_all_page_links_per_job(url, job_desc, page_num=1):
    # Get the html response from the first page url
    response = requests.get(url)
    # get the link to the next page
    next_page_anchor  =  Selector(text=response.text).xpath("//a[@data-automation='page-next']/@href").extract()
    # check if there is a next page
    if len(next_page_anchor) > 0:
        # Save the current url details before finding the next one
        pagelinks_df.loc[len(pagelinks_df),:] = [job_desc, page_num, url]
        # Start searching for next page link
        # Recursively call to get the links in next anchor page
        page_num += 1
        next_page_anchor = "https://www.seek.com.au" + next_page_anchor[0]
        get_all_page_links_per_job(next_page_anchor, job_desc, page_num)
    else:
        pass

In [5]:
def parse_all_first_pages(urls=search_urls):
    for url in urls:
        get_all_page_links_per_job(url['url'], url['type']) 

#Parse all the required job search results and get the links to the job postings
parse_all_first_pages()

In [6]:
# Display the dataframe obtained
pagelinks_df

,Job_Desc,Page_Num,url_link
0,Data-Science,1,https://www.seek.com.au/Data-Science-jobs/in-A...
1,Data-Science,2,https://www.seek.com.au/Data-Science-jobs/in-A...
2,Data-Science,3,https://www.seek.com.au/Data-Science-jobs/in-A...
3,Data-Science,4,https://www.seek.com.au/Data-Science-jobs/in-A...
4,Data-Analyst,1,https://www.seek.com.au/Data-Analyst-jobs/in-A...
5,Data-Analyst,2,https://www.seek.com.au/Data-Analyst-jobs/in-A...
6,Data-Analyst,3,https://www.seek.com.au/Data-Analyst-jobs/in-A...
7,Data-Analyst,4,https://www.seek.com.au/Data-Analyst-jobs/in-A...
8,Data-Analyst,5,https://www.seek.com.au/Data-Analyst-jobs/in-A...
9,Data-Analyst,6,https://www.seek.com.au/Data-Analyst-jobs/in-A...
10,Data-Analyst,7,https://www.seek.com.au/Data-Analyst-jobs/in-A...
11,Data-Analyst,8,https://www.seek.com.au/Data-Analyst-jobs/in-A...
12,Data-Analyst,9,https://www.seek.com.au/Data-Analyst-jobs/in-A...
13,Data-Analyst,10,https://www.seek.com.au/Data-Analyst-jobs/in-A...
14,Business-Intelligence,1,https://www.seek.com.au/Business-Intelligence-...
15,Business-Intelligence,2,https://www.seek.com.au/Business-Intelligence-...
16,Business-Intelligence,3,https://www.seek.com.au/Business-Intelligence-...
17,Business-Intelligence,4,https://www.seek.com.au/Business-Intelligence-...
18,Business-Intelligence,5,https://www.seek.com.au/Business-Intelligence-...
19,Business-Intelligence,6,https://www.seek.com.au/Business-Intelligence-...
20,Business-Intelligence,7,https://www.seek.com.au/Business-Intelligence-...
21,Business-Intelligence,8,https://www.seek.com.au/Business-Intelligence-...
22,Business-Intelligence,9,https://www.seek.com.au/Business-Intelligence-...
23,Business-Intelligence,10,https://www.seek.com.au/Business-Intelligence-...
24,Business-Intelligence,11,https://www.seek.com.au/Business-Intelligence-...
25,Business-Intelligence,12,https://www.seek.com.au/Business-Intelligence-...
26,Business-Intelligence,13,https://www.seek.com.au/Business-Intelligence-...
27,Business-Intelligence,14,https://www.seek.com.au/Business-Intelligence-...
28,Business-Intelligence,15,https://www.seek.com.au/Business-Intelligence-...
29,Business-Intelligence,16,https://www.seek.com.au/Business-Intelligence-...