In [37]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 50)

In [23]:
data = pd.read_csv('./dataset/cleaned_merged_dataset.csv')

In [24]:
data = data[(data['Nature_Code'] == 'Passenger - Domestic') | (data['Nature_Code'] == 'Passenger - Intl') | (data['Nature_Code'] == 'Cargo')]

In [25]:
data[data['Operator'] == 'Aeroflot'].Nature_Code.value_counts()

Passenger - Domestic    138
Cargo                    48
Passenger - Intl         10
Name: Nature_Code, dtype: int64

In [27]:
data[data['Operator'] == 'Aeroflot'].Decade.value_counts()

1970    51
1980    42
1960    31
1950    27
1990    22
1940    21
2000     1
1930     1
Name: Decade, dtype: int64

In [28]:
data = data[data['Decade'] >= 1960]

In [39]:
plotit = pd.DataFrame(data.Operator.value_counts()).head(10)
plotit.reset_index(inplace = True)

In [41]:
plotit

                        index  Operator
0                    Aeroflot       147
1             Indian Airlines        31
2             Delta Air Lines        28
3                     Avianca        23
4           Eastern Air Lines        23
5  Merpati Nusantara Airlines        21
6          Ethiopian Airlines        20
7                    Iran Air        17
8                  Air France        17
9           American Airlines        17

In [51]:
# Pick the 
sns.set(style="darkgrid")
fig = plt.figure(figsize=(8,8))
plt.title('Accidents by Nature of Flight')
ax = sns.lmplot(y ='index', x='Operator', data=plotit)

# fig.savefig('./gen_plots/nature_of_flight.png', bbox_inches='tight')
plt.show()

TypeError: Could not convert AeroflotIndian AirlinesDelta Air LinesAviancaEastern Air LinesMerpati Nusantara AirlinesEthiopian AirlinesIran AirAir FranceAmerican Airlines to numeric